@model Vidly.ViewModels.NewCustomerViewModel
@{
    ViewData["Title"] = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New Customer</h1>
<form asp-action="Create" asp-controller="Customers" method="post">
    <div class="form-group">
        <label asp-for="Customer.Name" class="control-label">Name</label>
        <input asp-for="Customer.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Customer.DOB" class="control-label">Date of birth</label>
        <input asp-for="Customer.DOB" class="form-control" />
    </div>
    <div class="checkbox">
        <input type="checkbox" asp-for="Customer.IsSubscribedToNewsLetter" />
        <label asp-for="Customer.IsSubscribedToNewsLetter" class="control-label">Is subscribed to newsletter</label>
    </div>
    <div class="form-group">
        <label asp-for="Customer.MembershipTypeId">Membership type</label>
        @Html.DropDownListFor(c => c.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-select" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
